/*
 * This file contains all reusable compoenents such as styling for buttons
 */

.button{
  z-index: 2;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  background-color: $primary-color;
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
  border-top: solid 1px #801634;

  &--play {
    background: url("../img/buttons/play.png") no-repeat 10%;
    background-color: $primary-color;
    padding: 20px 65px;
  }

  &--tickets {
    background: url("../img/buttons/tickets.png") no-repeat 10%;
    background-color: $primary-color;
    padding: 20px 65px;
  }

  &--rounded {
    border-radius: 32px;
    padding: 10px 20px;
  }

  &:hover {
    background-color: #de3062;
  }
}
