
//$primary-color: #c33a70;
$primary-color: #be1e4c;

h1, h2, h3, h4, h5, h6, p, a, li, td, th, label, input {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, th{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-transform:uppercase;
}
